@keyframes float-background {
    0%,
    100% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(-20%) translateY(20%);
    }
    50% {
        transform: translateX(20%) translateY(-20%);
    }
    75% {
        transform: translateX(-10%) translateY(10%);
    }
}


@keyframes animate-linear {
    25% {
        --background-gradient-linear-angle: 185deg;
    }
    75% {
        --background-gradient-linear-angle: 235deg;
    }
}

@keyframes animate-radial-1 {
    25% {
        --background-gradient-radial-1-position: 20% 85%;
    }
    50% {
        --background-gradient-radial-1-position: 15% 15%;
    }
    75% {
        --background-gradient-radial-1-position: 80% 25%;
    }
}


@keyframes animate-radial-2 {
    33% {
        --background-gradient-radial-2-position: 40% 75%;
    }
    66% {
        --background-gradient-radial-2-position: 60% 25%;
    }
}

@keyframes animate-radial-3 {
    20% {
        --background-gradient-radial-3-position: 65% 25%;
    }
    40% {
        --background-gradient-radial-3-position: 30% 45%;
    }
    60% {
        --background-gradient-radial-3-position: 60% 70%;
    }
    80% {
        --background-gradient-radial-3-position: 40% 75%;
    }
}

@keyframes streak-to-right {
    from {
        @apply z-20 opacity-0;
        transform: translateX(-200%);
    }
    to {
        @apply z-0 opacity-100;
        transform: translateX(0);
    }
}

@keyframes streak-to-left {
    from {
        @apply z-20 opacity-0;
        transform: translateX(200%);
    }
    to {
        @apply z-0 opacity-100;
        transform: translateX(0);
    }
}

@keyframes enter-from-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes enter-from-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes text-upwards {
    from {
        @apply origin-top opacity-0;
        transform: translateY(150%);
    }
    to {
        @apply scale-y-100 opacity-100;
        transform: translateY(0%);
    }
}

@keyframes height-to-full {
    from {
        max-height: var(--bar-height);
    }
    to {
        max-height: var(--content-height);
    }
}

@keyframes width-to-full {
    from {
        width: 0%;
    }
    to {
        width: var(--bar-width);
    }
}

@keyframes expand-corners {
    0% {
        clip-path: inset(var(--outside-clip-y) var(--outside-clip-x) var(--outside-clip-y) var(--outside-clip-x));
    }
    25% {
        clip-path: inset(var(--clip-final) var(--outside-clip-x) var(--clip-final) var(--outside-clip-x));
    }
    100% {
        clip-path: inset(var(--clip-final));
    }
}

@keyframes shrink-corners {
    0% {
        clip-path: inset(var(--clip-final));
    }
    75% {
        clip-path: inset(var(--clip-final) var(--outside-clip-x) var(--clip-final) var(--outside-clip-x));
    }
    100% {
        clip-path: inset(var(--outside-clip-y) var(--outside-clip-x) var(--outside-clip-y) var(--outside-clip-x));
    }
}

@keyframes outer-ring {
    0%,
    100% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.2, 1.05, 1);
        filter: brightness(1.5);
    }
}

@keyframes bg-dash {
    to {
        stroke-dashoffset: 0;
        stroke-dasharray: 0.5;
        stroke-opacity: var(--bg-stroke-max-opacity);
        stroke-width: 0.1;
    }
}

@keyframes wipe-card-down-enter {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes wipe-card-down-exit {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(100% 0 0 0);
    }
}

@keyframes wipe-card-left-enter {
    0% {
        clip-path: inset(0 0 0 100%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes wipe-card-left-exit {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 100% 0 0);
    }
}
