@keyframes streak-to-right {
    from {
        @apply z-20 opacity-0;
        transform: translateX(-200%);
    }
    to {
        @apply z-0 opacity-100;
        transform: translateX(0);
    }
}

@keyframes streak-to-left {
    from {
        @apply z-20 opacity-0;
        transform: translateX(200%);
    }
    to {
        @apply z-0 opacity-100;
        transform: translateX(0);
    }
}

@keyframes enter-from-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes enter-from-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes text-upwards {
    from {
        @apply origin-top opacity-0;
        transform: translateY(150%);
    }
    to {
        @apply scale-y-100 opacity-100;
        transform: translateY(0%);
    }
}

@keyframes height-to-full {
    from {
        max-height: var(--bar-height);
    }
    to {
        max-height: var(--content-height);
    }
}

@keyframes width-to-full {
    from {
        width: 0%;
    }
    to {
        width: var(--bar-width);
    }
}

@keyframes expand-corners {
    0% {
        clip-path: inset(var(--outside-clip-y) var(--outside-clip-x) var(--outside-clip-y) var(--outside-clip-x));
    }
    25% {
        clip-path: inset(var(--clip-final) var(--outside-clip-x) var(--clip-final) var(--outside-clip-x));
    }
    100% {
        clip-path: inset(var(--clip-final));
    }
}

@keyframes shrink-corners {
    0% {
        clip-path: inset(var(--clip-final));
    }
    75% {
        clip-path: inset(var(--clip-final) var(--outside-clip-x) var(--clip-final) var(--outside-clip-x));
    }
    100% {
        clip-path: inset(var(--outside-clip-y) var(--outside-clip-x) var(--outside-clip-y) var(--outside-clip-x));
    }
}

@keyframes outer-ring {
    0%,
    100% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.2, 1.05, 1);
        filter: brightness(1.5);
    }
}

@keyframes bg-dash {
    to {
        stroke-dashoffset: 0;
        stroke-dasharray: 0.5;
        stroke-opacity: var(--bg-stroke-max-opacity);
        stroke-width: 0.1;
    }
}

@keyframes wipe-card-down-enter {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes wipe-card-down-exit {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(100% 0 0 0);
    }
}

@keyframes wipe-card-left-enter {
    0% {
        clip-path: inset(0 0 0 100%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes wipe-card-left-exit {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 100% 0 0);
    }
}

@keyframes move-up-settle-down {
    0%,
    100% {
        scale: 1;
    }
    2%,
    80% {
        scale: 1.025;
    }
}

/* Nav State **/

.animate-clip-shape-left-nav {
    animation-name: clip-shape-left-nav;
    animation-duration: var(--clip-shape-animation-duration);
    animation-fill-mode: forwards;
}

.before\:animate-clip-shape-left-nav::before {
    @apply animate-clip-shape-left-nav;
}

@keyframes clip-shape-left-nav {
    0% {
        clip-path: polygon(
            0 0,
            calc(var(--clip-shape-width-category-left) - (var(--clip-shape-tan-category) / 2)) 0,
            calc(var(--clip-shape-width-category-left) + (var(--clip-shape-tan-category) / 2)) 100%,
            0 100%
        );
    }
    5% {
        clip-path: polygon(
            0 0,
            calc(var(--clip-shape-width-category-left) + calc(var(--clip-shape-tan-category) / 2)) 0,
            calc(var(--clip-shape-width-category-left) - calc(var(--clip-shape-tan-category) / 2)) 100%,
            0% 100%
        );
    }
    100% {
        clip-path: polygon(
            0 0,
            calc(var(--clip-shape-width-nav-left) + calc(var(--clip-shape-tan-nav) / 2)) 0,
            calc(var(--clip-shape-width-nav-left) - calc(var(--clip-shape-tan-nav) / 2)) 100%,
            0% 100%
        );
    }
}

.animate-clip-shape-right-nav {
    animation-name: clip-shape-right-nav;
    animation-duration: var(--clip-shape-animation-duration);
    animation-fill-mode: forwards;
}

.before\:animate-clip-shape-right-nav::before {
    @apply animate-clip-shape-right-nav;
}

@keyframes clip-shape-right-nav {
    0% {
        clip-path: polygon(
            calc(var(--clip-shape-width-category-right) - (var(--clip-shape-tan-category) / 2)) 0,
            100% 0,
            100% 100%,
            calc(var(--clip-shape-width-category-right) + (var(--clip-shape-tan-category) / 2)) 100%
        );
    }
    5% {
        clip-path: polygon(
            calc(var(--clip-shape-width-category-right) + (var(--clip-shape-tan-category) / 2)) 0,
            100% 0,
            100% 100%,
            calc(var(--clip-shape-width-category-right) - (var(--clip-shape-tan-category) / 2)) 100%
        );
    }
    100% {
        clip-path: polygon(
            calc(var(--clip-shape-width-nav-right) + (var(--clip-shape-tan-nav) / 2)) 0,
            100% 0,
            100% 100%,
            calc(var(--clip-shape-width-nav-right) - (var(--clip-shape-tan-nav) / 2)) 100%
        );
    }
}

/* Category State */

.animate-clip-shape-left-category {
    animation-name: clip-shape-left-category;
    animation-duration: var(--clip-shape-animation-duration);
    animation-fill-mode: forwards;
}

.before\:animate-clip-shape-left-category::before {
    @apply animate-clip-shape-left-category;
}

@keyframes clip-shape-left-category {
    0% {
        clip-path: polygon(
            0 0,
            calc(var(--clip-shape-width-nav-left) + calc(var(--clip-shape-tan-nav) / 2)) 0,
            calc(var(--clip-shape-width-nav-left) - calc(var(--clip-shape-tan-nav) / 2)) 100%,
            0% 100%
        );
    }
    10% {
        clip-path: polygon(
            0 0,
            calc(var(--clip-shape-width-nav-left) - (var(--clip-shape-tan-nav) / 2)) 0,
            calc(var(--clip-shape-width-nav-left) + (var(--clip-shape-tan-nav) / 2)) 100%,
            0 100%
        );
    }
    100% {
        clip-path: polygon(
            0 0,
            calc(var(--clip-shape-width-category-left) - (var(--clip-shape-tan-category) / 2)) 0,
            calc(var(--clip-shape-width-category-left) + (var(--clip-shape-tan-category) / 2)) 100%,
            0 100%
        );
    }
}

.animate-clip-shape-right-category {
    animation-name: clip-shape-right-category;
    animation-duration: var(--clip-shape-animation-duration);
    animation-fill-mode: both;
}

.before\:animate-clip-shape-right-category::before {
    @apply animate-clip-shape-right-category;
}

@keyframes clip-shape-right-category {
    0% {
        clip-path: polygon(
            calc(var(--clip-shape-width-nav-right) + (var(--clip-shape-tan-nav) / 2)) 0,
            100% 0,
            100% 100%,
            calc(var(--clip-shape-width-nav-right) - (var(--clip-shape-tan-nav) / 2)) 100%
        );
    }
    10% {
        clip-path: polygon(
            calc(var(--clip-shape-width-nav-right) - (var(--clip-shape-tan-nav) / 2)) 0,
            100% 0,
            100% 100%,
            calc(var(--clip-shape-width-nav-right) + (var(--clip-shape-tan-nav) / 2)) 100%
        );
    }
    100% {
        clip-path: polygon(
            calc(var(--clip-shape-width-category-right) - (var(--clip-shape-tan-category) / 2)) 0,
            100% 0,
            100% 100%,
            calc(var(--clip-shape-width-category-right) + (var(--clip-shape-tan-category) / 2)) 100%
        );
    }
}

/* Post State */

.animate-clip-shape-left-post {
    animation-name: clip-shape-left-post;
    animation-duration: var(--clip-shape-animation-duration);
    animation-fill-mode: forwards;
}

.before\:animate-clip-shape-left-post::before {
    @apply animate-clip-shape-left-post;
}

@keyframes clip-shape-left-post {
    0% {
        clip-path: polygon(
            0 0,
            calc(var(--clip-shape-width-category-left) - (var(--clip-shape-tan-category) / 2)) 0,
            calc(var(--clip-shape-width-category-left) + (var(--clip-shape-tan-category) / 2)) 100%,
            0 100%
        );
    }
    40% {
        clip-path: polygon(
            0 0,
            calc(var(--clip-shape-width-category-left) + (var(--clip-shape-tan-category) / 2)) 0,
            calc(var(--clip-shape-width-category-left) - (var(--clip-shape-tan-category) / 2)) 100%,
            0% 100%
        );
    }
    100% {
        clip-path: polygon(
            0 0,
            calc(var(--clip-shape-width-post-left) + (var(--clip-shape-tan-post) / 2)) 0,
            calc(var(--clip-shape-width-post-left) - (var(--clip-shape-tan-post) / 2)) 100%,
            0% 100%
        );
    }
}

.animate-clip-shape-right-post {
    animation-name: clip-shape-right-post;
    animation-duration: var(--clip-shape-animation-duration);
    animation-fill-mode: forwards;
}

.before\:animate-clip-shape-right-post::before {
    @apply animate-clip-shape-right-post;
}

@keyframes clip-shape-right-post {
    0% {
        clip-path: polygon(
            calc(var(--clip-shape-width-category-right) - (var(--clip-shape-tan-category) / 2)) 0,
            100% 0,
            100% 100%,
            calc(var(--clip-shape-width-category-right) + (var(--clip-shape-tan-category) / 2)) 100%
        );
    }
    40% {
        clip-path: polygon(
            calc(var(--clip-shape-width-category-right) + (var(--clip-shape-tan-category) / 2)) 0,
            100% 0,
            100% 100%,
            calc(var(--clip-shape-width-category-right) - (var(--clip-shape-tan-category) / 2)) 100%
        );
    }
    100% {
        clip-path: polygon(
            calc(var(--clip-shape-width-post-right) + (var(--clip-shape-tan-post) / 2)) 0,
            100% 0,
            100% 100%,
            calc(var(--clip-shape-width-post-right) - (var(--clip-shape-tan-post) / 2)) 100%
        );
    }
}
