/* Remember <link rel="preload"/> as needed */

@font-face {
    font-display: block;
    font-family: 'Miriam Libre Variable';
    src: url('/fonts/MiriamLibre-VariableFont_wght.woff2') format('woff2');
}
