@import 'tailwindcss';

@theme {
    --text-2xs: 0.625rem;
    --text-2xs--line-height: 0.875rem;
    --text-3xs: 0.5rem;
    --text-3xs--line-height: 0.7rem;

    --color-theme-background: oklch(79.874% 0.0593 84.951);
    --color-theme-background-level-1: var(--color-neutral-200);
    --color-theme-background-level-2: var(--color-neutral-100);
    --color-theme-background-level-3: var(--color-neutral-50);

    --color-theme-text-light: var(--color-white);
    --color-theme-text-dark: var(--color-sky-900);

    --color-theme-accent: var(--color-orange-400);

    --color-theme-cta-background: var(--color-sky-300);
    --color-theme-cta-foreground: var(--color-amber-700);

    --color-theme-blocked-range-active-holiday-school: var(--color-red-400);
    --color-theme-blocked-range-inactive-holiday-school: var(--color-red-300);
    --color-theme-blocked-range-active-holiday-public: var(--color-cyan-400);
    --color-theme-blocked-range-inactive-holiday-public: var(--color-cyan-200);

    --transition-duration-theme: 300ms;

    --inset-shadow-nondirectional-sm: inset 0px 0px 2px 0px var(--tw-inset-shadow-color, rgb(0 0 0 / 0.05));
}

@media (prefers-reduced-motion: no-preference) {
    /* eslint-disable-next-line css/use-baseline */
    @view-transition {
        navigation: auto;
    }
}
