@import './fonts.css';
@import './animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply [--bg-color:--theme-bg-base] [--color-bars-no-post:--theme-secondary-300] [--color-bars-post:--theme-primary-500] [--color-primary-active-cat-bg:--theme-primary-300] [--color-primary-content-bg:--theme-primary-100] [--color-primary-inactive-cat-bg:--theme-primary-600] [--color-secondary-active-cat:--theme-secondary-400] [--color-secondary-inactive-cat:--theme-secondary-600];
        /* @apply [--nav-text:--theme-bg-lighter]; */
        @apply [--nav-text:--theme-primary-600];
    }

    a {
        @apply text-[--theme-secondary-50] underline decoration-white/25 visited:text-[--theme-secondary-200];
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-lg;
    }
}

@layer components {
    .rotate-text {
        @apply writing-mode-vert-lr rotate-180;
    }
}

@layer utilities {
    .writing-mode-vert-lr {
        writing-mode: vertical-lr;
    }

    .writing-mode-vert-rl {
        writing-mode: vertical-rl;
    }

    .scroll-gutter-both {
        scrollbar-gutter: stable both-edges;
    }

    .scroll-gutter {
        scrollbar-gutter: stable;
    }

    .animation-pause {
        animation-play-state: paused;
    }

    .animation-run {
        animation-play-state: running;
    }
}

.postcards-grid-template {
    grid-template-areas:
        'area6  area6   area6   area6   rest   area1   tracker'
        'area6  area6   area6   area6   area2   area2   tracker'
        'area6  area6   area6   area6   area2   area2   tracker'
        'area6  area6   area6   area6   area3   area3   tracker'
        'area6  area6   area6   area6   area3   area3   tracker'
        'area5  area5   area5   area4   area4   area4   tracker'
        'area5  area5   area5   area4   area4   area4   tracker'
        'area5  area5   area5   area4   area4   area4   tracker';
}

/* Conditional Classes */

.mrkdwn > p {
    @apply mb-4 last:mb-0 sm:mb-6;
}

.mrkdwn > h5 {
    @apply w-fit;
}

/* SVG Filters */

.bloom-svg {
    /* filter: saturate(200%) url(src/assets/filters.svg#bloom-svg-filter); */
    @apply [filter:saturate(200%)_url(src/assets/filters.svg#bloom-svg-filter)];
}
