@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Adapted from https://css-tip.com/corner-only-border-image/ : */
    .nav-card-corners {
        @apply [--corner-inset:0.5rem] [--corner-outline-color:theme(colors.palette.primary)] [--corner-size:10px] [--corner-thickness:2px];
        @apply [mask:conic-gradient(at_var(--corner-size)_var(--corner-size),_theme(colors.transparent)_75%,_theme(colors.black)_0)_0_0_/_calc(100%-var(--corner-size))_calc(100%-var(--corner-size))];
        @apply absolute bottom-[--corner-inset] left-[--corner-inset] right-[--corner-inset] top-[--corner-inset] rounded-sm outline outline-[length:--corner-thickness] outline-offset-[calc(-1*var(--corner-thickness))] outline-[color:--corner-outline-color];
    }

    .fake-border-bg {
        @apply [--fake-border-color:theme(colors.gray.500/50%)] [--fake-border-width-side:calc(theme(spacing.1)/2)];
        @apply absolute -bottom-[--fake-border-width-side] -left-[--fake-border-width-side] -right-[--fake-border-width-side] -top-[--fake-border-width-side] rounded bg-gradient-to-r from-[--fake-border-color] to-[--fake-border-color];
    }
}

@layer utilities {
    .svg-background-image {
        background-image: url(../assets/bg_flattened.svg);
        background-size: cover;
    }

    .writing-mode-vert-lr {
        writing-mode: vertical-lr;
    }

    .writing-mode-vert-rl {
        writing-mode: vertical-rl;
    }

    .scroll-gutter-both {
        scrollbar-gutter: stable both-edges;
    }

    .perspective-1000 {
        perspective: 1000px;
    }

    .parallax-transform {
        transform: rotateX(var(--parallax-horizontal)) rotateY(var(--parallax-vertical));
        transition: transform var(--parallax-transition);
    }

    .transform-style-3d {
        transform-style: preserve-3d;
    }

    .translate-z-4 {
        transform: translateZ(1rem);
    }

    .translate-z-20 {
        transform: translateZ(5rem);
    }
}

:root {
    --parallax-vertical: 0;
    --parallax-horizontal: 0;
    --parallax-transition: 1.5s cubic-bezier(0.05, 0.5, 0, 1);
}

/* Parallax Stuff: */

.parallax-bg-clip {
    clip-path: polygon(
        0% 0% /* top-left */,
        0% 100% /* bottom-left */,
        7.5% 100% /* start-inner (bottom-leftish) */,
        7.5% 7.5% /* inner-top-left */,
        92.5% 7.5% /* inner-top-right */,
        92.5% 92.5% /* inner-bottom-right */,
        0 92.5% /* end-inner (left 0, bottom) */,
        7.5% 100% /* end-outer (same as start-inner) */,
        100% 100% /* bottom-right */,
        100% 0% /* top-right */
    );
}

.parallax-border-animated {
    border-image: url(src/assets/border-animated.svg) 1;
}

.shadow-inner-svg {
    filter: url(src/assets/filters.svg#shadow2);
}

.\!shadow-inner-svg-none {
    filter: none !important;
}

.bloom-svg {
    /* filter: saturate(200%) url(src/assets/filters.svg#bloom-svg-filter); */
    @apply [filter:saturate(200%)_url(src/assets/filters.svg#bloom-svg-filter)];
}

/* Classes necessary for CSSTransition: */

/* .frame-transition-appear {
    @apply -translate-x-full;
}

.frame-transition-appear-active {
    @apply translate-x-0 transition-transform duration-[2000ms];
}

.frame-transition-appear-done {
    @apply translate-x-0;
} */

.frame-transition-enter {
    @apply -translate-x-full;
}

.frame-transition-enter-active {
    @apply translate-x-0 transition-transform;
}

.frame-transition-enter-done {
    @apply translate-x-0;
}

.frame-transition-exit {
    @apply translate-x-0;
}

.frame-transition-exit-active {
    @apply -translate-x-full transition-transform;
}

.frame-transition-exit-done {
    @apply -translate-x-full;
}

/* Default classes from Vite default content: */

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
