@import './themes.css';
@import './fonts.css';
@import './animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-[--theme-secondary-50] underline decoration-white/25 visited:text-[--theme-secondary-200];
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-lg;
    }
}

@layer components {
    .rotate-text {
        @apply writing-mode-vert-lr rotate-180;
    }

    .headline-bg {
        @apply after:absolute after:left-0 after:-z-10 after:size-full after:bg-neutral-50;
    }

    .headline-skewed-bg {
        @apply after:absolute after:left-0 after:-z-10 after:size-full after:-skew-x-6 after:bg-neutral-50;
    }
}

@layer utilities {
    .writing-mode-vert-lr {
        writing-mode: vertical-lr;
    }

    .writing-mode-vert-rl {
        writing-mode: vertical-rl;
    }

    .scroll-gutter-both {
        scrollbar-gutter: stable both-edges;
    }

    .scroll-gutter {
        scrollbar-gutter: stable;
    }

    .animation-pause {
        animation-play-state: paused;
    }

    .animation-run {
        animation-play-state: running;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .backface-visible {
        backface-visibility: visible;
    }
}

#root {
    @apply flex h-dvh w-dvw items-center justify-center overflow-hidden bg-theme-root-background;
}

.hexagon-clip {
    aspect-ratio: 1 / 0.866; /* cos(30deg) */
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
}

.postcards-grid-template {
    grid-template-areas:
        'area6  area6   area6   area6   rest   area1 '
        'area6  area6   area6   area6   area2   area2 '
        'area6  area6   area6   area6   area2   area2 '
        'area6  area6   area6   area6   area3   area3 '
        'area6  area6   area6   area6   area3   area3 '
        'area5  area5   area5   area4   area4   area4 '
        'area5  area5   area5   area4   area4   area4 '
        'area5  area5   area5   area4   area4   area4 '
        'tracker tracker tracker tracker tracker tracker';
}

.pixelate {
    /* backdrop-filter: url(/svg/filters.svg#pixelate); */
    /* backdrop-filter: url(#pixelate-tile); */
    /* backdrop-filter: url(#pixelate-displacement); */
    /* backdrop-filter: url(#pixelate-dilate-erode); */
    backdrop-filter: url(#pixelate-v2);

    /* backdrop-filter: blur(10px); */
}

.pixelate-pseudo {
    @apply pixelate;
    content: '';
    pointer-events: none;
    z-index: 999;
}

.before\:pixelate::before {
    @apply pixelate-pseudo;
}

.after\:pixelate::after {
    @apply pixelate-pseudo;
}

/* SVG Filters */

.bloom-svg {
    /* filter: saturate(200%) url(src/assets/filters.svg#bloom-svg-filter); */
    @apply [filter:saturate(200%)_url(/svg/filters.svg#bloom-svg-filter)];
}
