@import './themes.css';
@import './fonts.css';
@import './animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }

    a {
        @apply text-[--theme-secondary-50] underline decoration-white/25 visited:text-[--theme-secondary-200];
    }

    button,
    [role='button'] {
        @apply focus:outline-none focus-visible:outline-none focus-visible:brightness-125 focus-visible:invert-[25%];
    }

    dialog {
        @apply max-h-full max-w-full;
    }
}

@layer components {
    .post-cards-grid-template-mobile {
        @apply grid grid-cols-2;
        grid-template-rows: repeat(10, minmax(0, 1fr)) repeat(4, 0);
        grid-template-areas:
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area1  area1'
            'area1  area1'
            'area2  area2'
            'area2  area2'
            'area3  area3'
            'area4  area4'
            'area5  area5'
            'rest    rest';

        /* @apply grid grid-cols-2; */
        /* grid-template-rows: repeat(13, minmax(0, 1fr));     */
        /* grid-template-areas:
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area2  area1'
            'area2  area1'
            'area2  area1'
            'area3  area4'
            'area3  area4'
            'rest   area5'; */
    }

    .post-cards-grid-brand-area-mobile {
        grid-row-start: 14;
        grid-row-end: 15;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .post-cards-grid-template-desktop {
        @apply grid grid-cols-7 grid-rows-6;
        grid-template-areas:
            'area0  area0   area0   area0   area0  rest    rest'
            'area0  area0   area0   area0   area0  area5  area5'
            'area0  area0   area0   area0   area0  area4  area4'
            'area0  area0   area0   area0   area0  area3  area3'
            'area1  area1   area1   area1   area2  area2  area2'
            'area1  area1   area1   area1   area2  area2  area2';
    }

    .post-cards-grid-brand-area-desktop {
        grid-row-start: 4;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 6;
    }

    .backdrop-glassmorphic {
        @apply backdrop-blur-lg backdrop-saturate-150;
    }

    .glassmorphic {
        @apply backdrop-glassmorphic border border-white/30 bg-white/15 [box-shadow:0_8px_32px_rgba(0,0,0,0.1),inset_0_1px_0_rgba(255,255,255,0.5),inset_0_-1px_0_rgba(255,255,255,0.1),inset_0_0_20px_10px_rgba(255,255,255,1)] before:absolute before:bottom-0 before:left-0 before:right-0 before:top-0 before:h-px before:[background:linear-gradient(90deg,transparent,rgba(255,255,255,0.8),transparent)] after:absolute after:left-0 after:top-0 after:h-full after:w-px after:[background:linear-gradient(180deg,rgba(255,255,255,0.8),transparent,rgba(255,255,255,0.3))];
    }

    .glassmorphic-svg {
        @apply fill-[url(#radial-background-gradient)] stroke-white/10
    }

    .rotate-text {
        @apply writing-mode-vert-lr rotate-180;
    }
}

@layer utilities {
    .writing-mode-vert-lr {
        writing-mode: vertical-lr;
    }

    .writing-mode-vert-rl {
        writing-mode: vertical-rl;
    }

    .scroll-gutter-both {
        scrollbar-gutter: stable both-edges;
    }

    .scroll-gutter {
        scrollbar-gutter: stable;
    }

    .animation-pause {
        animation-play-state: paused;
    }

    .animation-run {
        animation-play-state: running;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .backface-visible {
        backface-visibility: visible;
    }
}

#root {
    @apply flex h-dvh w-dvw items-center justify-center overflow-hidden font-merriweather;
}

/* SVG Filters */

.bloom-svg {
    /* filter: saturate(200%) url(src/assets/filters.svg#bloom-svg-filter); */
    @apply [filter:saturate(200%)_url(/svg/filters.svg#bloom-svg-filter)];
}
