@import './themes.css';
@import './fonts.css';
@import './animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-[--theme-secondary-50] underline decoration-white/25 visited:text-[--theme-secondary-200];
    }

    button,
    [role='button'] {
        @apply focus:outline-none focus:brightness-125 focus:invert-[25%] focus-visible:outline-none focus-visible:brightness-125 focus-visible:invert-[25%];
    }

    dialog {
        @apply max-h-full max-w-full;
    }
}

@layer components {
    .post-cards-grid-template-mobile {
        @apply grid;
        grid-template-columns: repeat(2,minmax(0,1fr)) 0.05fr;
        grid-template-rows: repeat(13,minmax(0,1fr));
        grid-template-areas:
            'area0  area0  track'
            'area0  area0  track'
            'area0  area0  track'
            'area0  area0  track'
            'area0  area0  track'
            'area0  area0  track'
            'area0  area0  track'
            'area2  area1  track'
            'area2  area1  track'
            'area2  area1  track'
            'area3  area4  track'
            'area3  area4  track'
            'rest   area5  track';
    }

    .post-cards-grid-template-desktop {
        @apply grid grid-cols-6 grid-rows-7;
        grid-template-areas:
            'area0  area0   area0   area0   rest    area5'
            'area0  area0   area0   area0   area4   area4'
            'area0  area0   area0   area0   area3   area3'
            'area0  area0   area0   area0   area3   area3'
            'area1  area1   area1   area2   area2   area2'
            'area1  area1   area1   area2   area2   area2'
            'area1  area1   area1   area2   area2   area2';
    }

    .post-cards-grid-brand-area-desktop {
        grid-row-start: 4;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .rotate-text {
        @apply writing-mode-vert-lr rotate-180;
    }
}

@layer utilities {
    .writing-mode-vert-lr {
        writing-mode: vertical-lr;
    }

    .writing-mode-vert-rl {
        writing-mode: vertical-rl;
    }

    .scroll-gutter-both {
        scrollbar-gutter: stable both-edges;
    }

    .scroll-gutter {
        scrollbar-gutter: stable;
    }

    .animation-pause {
        animation-play-state: paused;
    }

    .animation-run {
        animation-play-state: running;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .backface-visible {
        backface-visibility: visible;
    }
}

/* SVG Filters */

.bloom-svg {
    /* filter: saturate(200%) url(src/assets/filters.svg#bloom-svg-filter); */
    @apply [filter:saturate(200%)_url(/svg/filters.svg#bloom-svg-filter)];
}
