@import './themes.css';
@import './fonts.css';
@import './animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }

    a {
        @apply text-[--theme-secondary-50] underline decoration-white/25 visited:text-[--theme-secondary-200];
    }

    button,
    [role='button'] {
        @apply focus:outline-none focus-visible:outline-none focus-visible:brightness-125 focus-visible:invert-[25%];
    }

    dialog {
        @apply max-h-full max-w-full;
    }
}

@layer components {
    .post-cards-grid-template-mobile {
        @apply grid grid-cols-2;
        grid-template-rows: repeat(10, minmax(0, 1fr)) repeat(4, 0);
        grid-template-areas:
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area1  area1'
            'area1  area1'
            'area2  area2'
            'area2  area2'
            'area3  area3'
            'area4  area4'
            'area5  area5'
            'rest    rest';

        /* @apply grid grid-cols-2; */
        /* grid-template-rows: repeat(13, minmax(0, 1fr));     */
        /* grid-template-areas:
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area0  area0'
            'area2  area1'
            'area2  area1'
            'area2  area1'
            'area3  area4'
            'area3  area4'
            'rest   area5'; */
    }

    .post-cards-grid-brand-area-mobile {
        grid-row-start: 14;
        grid-row-end: 15;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .post-cards-grid-template-desktop {
        @apply grid grid-cols-7 grid-rows-6;
        grid-template-areas:
            'area0  area0   area0   area0   area0  rest    rest'
            'area0  area0   area0   area0   area0  area5  area5'
            'area0  area0   area0   area0   area0  area4  area4'
            'area0  area0   area0   area0   area0  area3  area3'
            'area1  area1   area1   area1   area2  area2  area2'
            'area1  area1   area1   area1   area2  area2  area2';
    }

    .post-cards-grid-brand-area-desktop {
        grid-row-start: 4;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 6;
    }

    .glassmorphic-grain-before {
        @apply before:absolute before:left-0 before:top-0 before:size-full before:bg-repeat before:opacity-5 before:[background-size:100px];
        @apply before:[background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20150%20150%22%3E%0A%20%20%20%20%3Cfilter%20id%3D%22a%22%3E%0A%20%20%20%20%20%20%20%20%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.95%22%20numOctaves%3D%221%22%20stitchTiles%3D%22stitch%22%2F%3E%0A%20%20%20%20%3C%2Ffilter%3E%0A%20%20%20%20%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20filter%3D%22url(%23a)%22%2F%3E%0A%3C%2Fsvg%3E%0A")];
    }

    .glassmorphic-backdrop-filter {
        @apply backdrop-blur-[--glassmorphic-backdrop-blur,4px] backdrop-saturate-[1.75];
    }

    .glassmorphic-lighting-gradient {
        @apply from-transparent via-transparent to-white/40 [background-image:linear-gradient(var(--hexagon-lighting-gradient-counter-rotation),var(--tw-gradient-stops))];
    }

    .glassmorphic {
        @apply glassmorphic-lighting-gradient glassmorphic-grain-before glassmorphic-backdrop-filter;
    }

    .glassmorphic-off {
        @apply bg-none [backdrop-filter:_] before:content-none;
    }

    .background-gradients {
        background-image:
            radial-gradient(
                ellipse 10% 10% at var(--background-gradient-radial-3-position),
                theme(colors.theme.primary/0.5) 0%,
                theme(colors.theme.primary-darker/0.75) 40%,
                transparent 100%
            ),
            /* radial-3 */
                radial-gradient(
                    ellipse 50% 70% at var(--background-gradient-radial-2-position),
                    theme(colors.theme.root-background/0.5) 0%,
                    theme(colors.theme.root-background/0.25) 50%
                ),
            /* radial-2 */
                radial-gradient(
                    ellipse 20% 30% at var(--background-gradient-radial-1-position),
                    theme(colors.theme.primary-lighter/0.15) 0%,
                    theme(colors.theme.primary/0.1) 50%,
                    transparent
                ),
            /* radial-1 */
                linear-gradient(var(--background-gradient-linear-angle), transparent 0%, theme(colors.theme.primary-darker) 47.5% 52.5%, transparent 100%);
    }

    .rotate-text {
        @apply writing-mode-vert-lr rotate-180;
    }
}

@layer utilities {
    .writing-mode-vert-lr {
        writing-mode: vertical-lr;
    }

    .writing-mode-vert-rl {
        writing-mode: vertical-rl;
    }

    .scroll-gutter-both {
        scrollbar-gutter: stable both-edges;
    }

    .scroll-gutter {
        scrollbar-gutter: stable;
    }

    .animation-pause {
        animation-play-state: paused;
    }

    .animation-run {
        animation-play-state: running;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .backface-visible {
        backface-visibility: visible;
    }

    .transform-3d {
        transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), var(--tw-translate-z, 0)) rotateX(var(--tw-rotate-x, 0))
            rotateY(var(--tw-rotate-y, 0)) rotateZ(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
    }

    .transform-hexagon {
        @apply !transform-3d translate-x-[--hexagon-translate-x] translate-y-[--hexagon-translate-y] rotate-[--hexagon-rotate] scale-x-[--hexagon-scale-x] scale-y-[--hexagon-scale-y];
    }
}

#root {
    @apply background-gradients flex h-dvh w-dvw items-center justify-center overflow-hidden bg-theme-root-background font-merriweather;
    @apply [--hexagon-blur-color:theme(colors.white/0.1)] [--hexagon-fill-color:theme(colors.theme.primary/0.05)] [--hexagon-stroke-color:theme(colors.theme.secondary/0.1)];
    animation-name: animate-linear, animate-radial-1, animate-radial-2, animate-radial-3;
    animation-duration: 50s, 60s, 15s, 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@property --background-gradient-radial-1-position {
    syntax: '<percentage>+';
    inherits: false;
    initial-value: 70% 65%;
}

@property --background-gradient-radial-2-position {
    syntax: '<percentage>+';
    inherits: false;
    initial-value: 30% 35%;
}

@property --background-gradient-radial-3-position {
    syntax: '<percentage>+';
    inherits: false;
    initial-value: 50% 50%;
}

@property --background-gradient-linear-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 210deg;
}

@property --hexagon-blur-color {
    syntax: '<color>';
    inherits: true;
    initial-value: red;
}

@property --hexagon-fill-color {
    syntax: '<color>';
    inherits: true;
    initial-value: green;
}

@property --hexagon-stroke-color {
    syntax: '<color>';
    inherits: true;
    initial-value: blue;
}

@property --hexagon-lighting-gradient-counter-rotation {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@property --scale-property {
    syntax: '<number>';
    inherits: false;
    initial-value: 1;
}

@property --carousel-card-opacity {
    syntax: '<number>';
    inherits: false;
    initial-value: 1;
}

/* SVG Filters */

.bloom-svg {
    /* filter: saturate(200%) url(src/assets/filters.svg#bloom-svg-filter); */
    @apply [filter:saturate(200%)_url(/svg/filters.svg#bloom-svg-filter)];
}
