@import './themes.css';
@import './fonts.css';
@import './animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-[--theme-secondary-50] underline decoration-white/25 visited:text-[--theme-secondary-200];
    }

    dialog {
        @apply max-h-full max-w-full;
    }
}

@layer components {
    .rotate-text {
        @apply writing-mode-vert-lr rotate-180;
    }

    .headline-bg {
        @apply after:absolute after:left-0 after:-z-10 after:size-full after:bg-neutral-50;
    }

    .headline-skewed-bg {
        @apply after:absolute after:left-0 after:-z-10 after:size-full after:-skew-x-6 after:bg-neutral-50;
    }
}

@layer utilities {
    .writing-mode-vert-lr {
        writing-mode: vertical-lr;
    }

    .writing-mode-vert-rl {
        writing-mode: vertical-rl;
    }

    .scroll-gutter-both {
        scrollbar-gutter: stable both-edges;
    }

    .scroll-gutter {
        scrollbar-gutter: stable;
    }

    .animation-pause {
        animation-play-state: paused;
    }

    .animation-run {
        animation-play-state: running;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .backface-visible {
        backface-visibility: visible;
    }
}

.postcards-grid-template {
    grid-template-areas:
        'area6  area6   area6   area6   rest    area1 '
        'area6  area6   area6   area6   area2   area2 '
        'area6  area6   area6   area6   area3   area3 '
        'area6  area6   area6   area6   area3   area3 '
        'area5  area5   area5   area4   area4   area4 '
        'area5  area5   area5   area4   area4   area4 '
        'area5  area5   area5   area4   area4   area4 '
        'track  track   track   track   track   track'
}

/* SVG Filters */

.bloom-svg {
    /* filter: saturate(200%) url(src/assets/filters.svg#bloom-svg-filter); */
    @apply [filter:saturate(200%)_url(/svg/filters.svg#bloom-svg-filter)];
}
