@import './themes.css';
@import './fonts.css';
@import './animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-[--theme-secondary-50] underline decoration-white/25 visited:text-[--theme-secondary-200];
    }

    dialog {
        @apply max-h-full max-w-full;
    }
}

@layer components {
    .rotate-text {
        @apply writing-mode-vert-lr rotate-180;
    }
}

@layer utilities {
    .writing-mode-vert-lr {
        writing-mode: vertical-lr;
    }

    .writing-mode-vert-rl {
        writing-mode: vertical-rl;
    }

    .scroll-gutter-both {
        scrollbar-gutter: stable both-edges;
    }

    .scroll-gutter {
        scrollbar-gutter: stable;
    }

    .animation-pause {
        animation-play-state: paused;
    }

    .animation-run {
        animation-play-state: running;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .backface-visible {
        backface-visibility: visible;
    }
}

.postcards-grid-template {
    grid-template-areas:
        'area0  area0   area0   area0   rest    area5'
        'area0  area0   area0   area0   area4   area4'
        'area0  area0   area0   area0   area3   area3'
        'area0  area0   area0   area0   area3   area3'
        'area1  area1   area1   area2   area2   area2'
        'area1  area1   area1   area2   area2   area2'
        'area1  area1   area1   area2   area2   area2'
        'track  track   track   track   track   track'
}

/* SVG Filters */

.bloom-svg {
    /* filter: saturate(200%) url(src/assets/filters.svg#bloom-svg-filter); */
    @apply [filter:saturate(200%)_url(/svg/filters.svg#bloom-svg-filter)];
}
