body[data-theme='yellow'] {
    --theme-primary: 254 210 67; /* 500 */
    --theme-primary-lighter: 255 227 136 /* 200 */;
    --theme-primary-darker: 189 147 10 /* 800 */;

    --theme-secondary: 67 254 210; /* 500 */
    --theme-secondary-lighter: 219 255 247; /* 200 */
    --theme-secondary-darker: 0 51 39 /* 800 */;

    --theme-accent: 204 55 35; /* 500 */
    --theme-text: 239 239 239;
    --theme-text-background: 72 72 72;
    --theme-root-background: 23 23 23;
}

body[data-theme='pink'] {
    --theme-primary: 191 91 148; /* 500 */
    --theme-primary-lighter: 240 191 219 /* 200 */;
    --theme-primary-darker: 114 33 79 /* 800 */;

    --theme-secondary: 46 136 204; /* 500 */
    --theme-secondary-lighter: 230 241 249; /* 200 */
    --theme-secondary-darker: 31 91 138; /* 800 */

    --theme-accent: 20 157 242; /* 500 */
    --theme-text: 64 64 64;
    --theme-text-background: 241 237 247;
    --theme-root-background: 27 19 42;
}

body[data-theme='orange'] {
    --theme-primary: 251 111 14; /* 500 */
    --theme-primary-lighter: 251 220 198 /* 200 */;
    --theme-primary-darker: 141 59 2 /* 800 */;

    --theme-secondary: 64 201 156;
    --theme-secondary-lighter: 231 248 243; /* 200 */
    --theme-secondary-darker: 19 68 52; /* 800 */

    --theme-accent: 88 180 96; /* 500 */
    --theme-text: 243 251 248;
    --theme-text-background: 83 105 95;
    --theme-root-background: 20 26 23;
}

body[data-theme='bw'] {
    --theme-primary: 206 206 206; /* 500 */
    --theme-primary-lighter: 184 184 184 /* 100 */;
    --theme-primary-darker: 233 233 233 /* 900 */;

    --theme-secondary: 198 198 198;
    --theme-secondary-lighter: 253 253 253;
    --theme-secondary-darker: 33 33 33;

    --theme-accent: 255 255 255; /* 500 */
    --theme-text: 242 242 242;
    --theme-text-background: 51 51 51;
    --theme-root-background: 40 40 40;
}
